:root {
  --color1: rgba(254, 108, 198);
  --color2: rgba(119, 114, 241);
  --color3: rgba(252, 220, 243);
}

h1 {
  color: var(--color1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-image: linear-gradient(to right, var(--color3), var(--color2));
  color: white;
  box-shadow: 0 4px 15px rgba(209, 20, 20, 0.25);
}
.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.navbar .logout-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  width: 30px;
  margin: 0px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}