h1 {
  color: hsl(330, 100%, 51%);
  margin: 10px 0;
  font-weight: 900;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-image: linear-gradient(to right, hsl(338, 100%, 94%) 0%, hsl(275, 71%, 88%) 50%, hsl(256, 94%, 87%) 100%);
  box-shadow: 0 4px 15px rgba(209, 20, 20, 0.25);
  z-index: 2;
}

.navbar .logout-btn {
  background: hsl(260, 100%, 95%);
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  width: 30px;
  margin: 0 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fas {
  margin-right: 5px;
}